html,
body {
  height: 100%;
}

body.my-login-page {
  background-color: #f7f9fb;
  font-size: 14px;
}

.btn {
  cursor: pointer;
}

.alert p {
  display: inline;
}

.nav-tabs > li > a.active,
.nav-tabs > li > a.active:focus,
.nav-tabs > li > a.active:hover {
  border: 0;
}
.nav-tabs {
  border: 0;
}

.nav-tabs > li > a:hover {
  border: 0;
}

.nav-link {
  display: block;
  padding: 0;
}

.card-header {
  background-color: transparent;
  padding: 0.8rem;
}

.card-header a {
  color: inherit;
  font-size: 1.1em;

  font-weight: 500;
  text-transform: capitalize;
}

.card-header a:hover {
  color: #ff6a00;
  text-decoration: none;
}

.card-header .nav-link.active {
  color: #ff6a00;
}

.my-login-page .brand {
  width: 100px;
  /* height: 90px; */
  overflow: hidden;
  /* border-radius: 50%; */
  margin: 0 auto;
  margin: 20px auto;
  /* box-shadow: 0 0 40px rgba(0, 0, 0, 0.05); */
}

.my-login-page .brand img {
  width: 100%;
}

.my-login-page .card-wrapper {
  width: 600px;
}

.my-login-page .card {
  border-color: transparent;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
}

.my-login-page .card.fat {
  padding: 15px 40px;
}

.my-login-page .card .card-title {
  margin-bottom: 30px;
}

.my-login-page .form-control {
  border-width: 2.3px;
}

.my-login-page .form-group label {
  width: 100%;
}

.my-login-page .btn.btn-block {
  padding: 12px 10px;
}

.my-login-page .margin-top20 {
  margin-top: 20px;
}

.my-login-page .no-margin {
  margin: 0;
}

.my-login-page .footer {
  margin: 40px 0;
  color: #888;
  text-align: center;
}

button {
  background-color: #e4a347 !important;
  border-color: #e4a347 !important;
}

.form-control:focus {
  background-color: #fff;
  border-color: #e4a347;
}

.my-login-page {
  background-color: #625954;
}
